.coal {
    background-color: #333333;
    color: white;
}
.dirt {
    background-color: #8B5A2B;
}

.empty {
    background-color: black;
    color: white;
}

.falling-0{
    color: red;
}
.falling-1 {    
    color: orange;
}

.falling-2{
    color: #8B8000;
}


.gold{
    background-color: #FFD700;
}
.iron{
    background-color:   #8B2500;
}
.sky {
    background-color: #87CEEB;
    border: 1px solid #87CEEB;
}
.stone{
    background-color: #A9A9A9;
}
.cell:not(.sky){
    border: 1px grey dotted;
}

.highlight-dynamite, .dynamite {
    background-color: red;
    color: white;
}

.highlight, .placing {
    background-color: green;
    color: white;
}

.fell{
    border: 1px red solid;
    background-color: #380000;
} 

.player:not(.sky){
    border: 1px white solid;
    
    
}